<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.krishna.debug_tools">

    <application>
        <activity
            android:name="com.krishna.debug_tools.activity.ActivityTable"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.krishna.debug_tools.activity.ActivityDebugTools"
            android:label="@string/title_activity_drawer"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.krishna.debug_tools" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.krishna.debug_tools.activity.ActivitySharedPreference" />
    </application>

</manifest>